.homePageNews-container {
    background-color: #F6F6F6;
    width: 100%;
    padding-left: 90px;
    padding-bottom: 20px;

    h1.partner-title {
        font-size: 30px;
    }

    .homePageNews-content {
        margin-top: 8px;

        .content-tag {
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            padding: 12px;
            width: 80%;

            .content-tag-header {
                display: flex;

                .tag-header-img {
                    width: 10rem;
                    border: 2px solid black
                }

                .tag-header {
                    .tag-header-title {
                        font-size: 20px;
                        font-weight: 600;
                    }

                    .tag-header-date {
                        color: #555;
                    }
                }
            }

            .tag-content {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}