.homeBanner-container {

    .homeBanner-img {
        width: 100%;
        position: absolute;
        z-index: 1;
        height: 640px;
    }

    .homeBanner-content {
        position: relative;
        z-index: 10;
        padding: 100px 200px 200px 80px;

        .btn-container {
            display: flex;
            gap: 10px;

            .btn-get-started {
                border: 2px solid #1a96de;
                border-radius: 10px;
                padding: 4px;
                background-color: white;
                font-weight: 600;
                line-height: 32px;
                color: #1a96de;
            }

            .btn-watch-demo {
                display: flex;
                align-items: center;
                gap: 6px;
                border: 2px solid #1a96de;
                border-radius: 10px;
                padding: 4px;
                font-weight: 700;
                line-height: 32px;
            }
        }
    }
}